body{
    font-family: 'outfit',sans-serif;
    background-image: url('../imagens/fundo-base.jpg');
    background-repeat: no-repeat; /* para a imagem nao repetir*/
    background-size: cover;
}
.cabecalho{
    text-align: center;
    padding: 60px 0;
}
.cabecalho h1{
    color: #f1ecff;
    font-size: 45px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.personagens-slider{
    display: flex;
    background-color: blue;
}